* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.navi {
  overflow: hidden;
  padding: 3px;
  background-color: #333;
}

/* Style the topnav links */
.navi a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navi ul {
  list-style-type: none;
}
/* Change color on hover */
.navi a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  float: left;
}


.navilinks {
  float: left;
}



.column {
    float: left;
    padding: 10px;
  }



.sidebar {
    overflow: hidden;
    width: 20%;
    float: left;
    color: #fff;
    background-color: rgb(131, 53, 53);
    height: 100%;

  }
  
  
  .sidebar a {
    overflow: hidden;
    color: #fff;
    background-color: rgb(131, 53, 53);
  }
  
  
  
  
  .sidebar ul {
      list-style-type: none;
  }
  
  
  .main-content {
      overflow: hidden;
      width: 79%;
      float: right;
      height: device-height;
      background-color: rgb(250, 250, 250);
    }



